<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Sam.Feature.LanguageSwitcher" description="Feature Language Switcher" dependencies="Foundation.*">
          <predicate>
            <include name="Templates" database="master" path="/sitecore/templates/Feature/Language Switcher" />
            <include name="Languages" database="master" path="/sitecore/system/Languages" />
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Language Switcher" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
