<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Sam.ToolStockSc.Serialization">
          <targetDataStore physicalRootPath="c:\Sam\ToolStockSc\Serialization\Sam.ToolStockSc.Serialization\serialized\Sam"
                           useDataCache="false"
                           type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
                           singleInstance="true"/>
          <predicate>

            <!-- Master db: Content -->
            <!--<include name="Content.Sam" database="master" path="/sitecore/content/sam" />-->
            <include name="Content" database="master" path="/sitecore/content" />

            <!-- Master db: Templates, Renderings, Placeholders, Layouts, Branches -->
            <include name="Templates.Foundation" database="master" path="/sitecore/templates/Foundation" />
            <include name="Templates.Feature" database="master" path="/sitecore/templates/Feature" />
            <include name="Templates.Project" database="master" path="/sitecore/templates/Project" />
            <include name="Layouts" database="master" path="/sitecore/Layout" />
            <include name="MediaLibrary" database="master" path="/sitecore/media library/Images" />
            <include name="Branches.Project" database="master" path="/sitecore/templates/Branches/Project" />

            <!-- Core db: Ribbons -->

            <include name="Templates.System.Security" database="core" path="/sitecore/templates/System/Security"/>
            <include name="System.Settings.Security.Profiles" database="core" path="/sitecore/system/Settings/Security/Profiles"/>

          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>