<!--
Purpose: 
 -This include file change the linkprovider to change the urloptions for site define in multiLanguageSites
-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <linkManager>
      <providers>
        <add name="sitecore">
          <patch:attribute name="type">Sam.Foundation.LinkManager.Providers.ToolStockScLinkProvider, Sam.Foundation.LinkManager</patch:attribute>
          <patch:attribute name="multiLanguageSites">toolstocksc.sc</patch:attribute>
        </add>
      </providers>
    </linkManager>
  </sitecore>
</configuration>
