<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore role:require="Standalone or ContentManagement" search:require="solr">
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="sc910_web_tools_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="name">$(id)</param>
            <param desc="core">$(id)</param>
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
              <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                <indexAllFields>false</indexAllFields>

                <!-- Included fields -->
                <include hint="list:AddIncludedField">
                  <Name>{4B8DD49F-0687-4674-94AE-B4DFF533DB9C}</Name>
                  <Manufacturer>{19498490-5973-4E87-BED3-DCB442C2BEB9}</Manufacturer>
                  <ToolType>{FC812A40-DDA1-4C2E-B617-FBE60D19939C}</ToolType>
                  <Status>{49B5CA13-FEDF-4F40-859C-EA57317CC937}</Status>
                  <Stock>{5F1CC717-83B8-45C7-9A48-800470C79934}</Stock>
                  <User>{AFD411E8-0FF4-49E6-A0BF-4E5861AD3969}</User>
                </include>

                <!-- Included templates -->
                <include hint="list:AddIncludedTemplate">
                  <Tool>{51283586-EFA7-4BDF-A3EF-53394B5530DB}</Tool>
                </include>

              </documentOptions>
            </configuration>
            <strategies hint="list:AddStrategy">
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" />
            </strategies>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>/sitecore/content/Sam/ToolStockSc/Shared Site Content/Data/Tools</Root>
              </crawler>
            </locations>
            <enableItemLanguageFallback>false</enableItemLanguageFallback>
            <enableFieldLanguageFallback>false</enableFieldLanguageFallback>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>