<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore role:require="Standalone or ContentManagement" search:require="solr">
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="sc910_web_users_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="name">$(id)</param>
            <param desc="core">$(id)</param>
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
              <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                <indexAllFields>false</indexAllFields>

                <!-- Included fields -->
                <include hint="list:AddIncludedField">
                  <User>{D77A8036-8097-4715-87A7-EB8B71A3FA21}</User>
                  <Tools>{2FBA9C9A-9A1D-4D8C-822B-AC97DA48C24D}</Tools>
                  <Stock>{C8544C00-1472-486F-A870-44B2F341FE83}</Stock>
                </include>

                <!-- Included templates -->
                <include hint="list:AddIncludedTemplate">
                  <UserReference>{D823338A-F6BC-46B4-B32B-73BA7A02439A}</UserReference>
                </include>
                <fields hint="raw:AddComputedIndexField">
                  <field fieldName="FullName" storageType="YES" returnType="string">Sam.ToolStockSc.Web.Areas.Project.ToolStockSc.Models.ComputedIndexFields.FullNameComputedField, Sam.ToolStockSc.Web</field>
                </fields>
              </documentOptions>
            </configuration>
            <strategies hint="list:AddStrategy">
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" />
            </strategies>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>/sitecore/content/Sam/ToolStockSc/Shared Site Content/Data/User References</Root>
              </crawler>
            </locations>
            <enableItemLanguageFallback>false</enableItemLanguageFallback>
            <enableFieldLanguageFallback>false</enableFieldLanguageFallback>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>