<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <site name="ToolStockSc" patch:before="site[@name='website']"
           virtualFolder="/"
           physicalFolder="/"
           rootPath="/sitecore/content/Sam/ToolStockSc"
           language="en"
           startItem="/Home"
           database="web"
           domain="extranet"
           allowDebug="true"
           cacheHtml="true"
           htmlCacheSize="50MB"
           enablePreview="true"
           enableWebEdit="true"
           enableDebugger="true"
           disableClientData="false"
           hostName="toolstocksc.sc"
           dictionaryDomain="{15655BDE-A271-4ADF-ADE9-417ABF8F89DD}"
           targetHostName="toolstocksc.sc"/>
    </sites>
    
    <!--The section below enables item level language fallback-->
    <!-- https://kb.sitecore.net/articles/184882#notes -->
    <sites>
      <site name="shell">
        <patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
      </site>
      <site name="ToolStockSc">
        <patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
      </site>
    </sites>
  </sitecore>
</configuration>

