<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <site name="ToolStockSc" patch:before="site[@name='website']"
           virtualFolder="/"
           physicalFolder="/"
           rootPath="/sitecore/content/Sam/ToolStockSc"
           language="en"
           startItem="/Home"
           database="web"
           domain="extranet"
           allowDebug="true"
           cacheHtml="true"
           htmlCacheSize="50MB"
           enablePreview="true"
           enableWebEdit="true"
           enableDebugger="true"
           disableClientData="false"
           hostName="toolstocksc.sc"
           dictionaryDomain="{15655BDE-A271-4ADF-ADE9-417ABF8F89DD}"
           targetHostName="toolstocksc.sc"/>
    </sites>
  </sitecore>
</configuration>

<!--dictionaryDomain="{BF6F76BC-37B7-4A45-B8F2-F68D205EAE88}"-->
