@using Glass.Mapper.Sc.Web.Mvc
@model Sam.Feature.Card.Areas.Feature.Card.Models.ViewModels.CardViewModel

<div class="card">
    <div class="card-header">
        @Html.Glass().Editable(m => m.Title)
    </div>
    <div class="card-body">
    </div>
</div>