<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Sam.Feature.Card" description="Feature Card" dependencies="Foundation.*">
          <predicate>
            <include name="Template" database="master" path="/sitecore/templates/Feature/Components/Card" />
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Feature/ToolStockSc/Card" />
            <include name="Layouts" database="master" path="/sitecore/layout/Placeholder Settings/Feature/ToolStockSc/Card" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
