@model Sam.ToolStockSc.Web.Areas.Project.ToolStockSc.Models.ViewModels.MenuSectionViewModel
@using Sitecore.Globalization


<li class="menu-title">@Html.Glass().Editable(m => m.SectionName)</li><!-- /.menu-title -->
@Html.Sitecore().DynamicPlaceholder("Menu Link")