@using Sitecore.Mvc

<div class="jumbotron">
    <div class="row justify-content-end">
        <div class="col-4"></div>
        <div class="col-4">
            @Html.Sitecore().Placeholder("Language Switcher")
        </div>
    </div>
    <h1 class="text-center">@Html.Sitecore().Field("Greeting text")</h1>
    <p class="lead text-center">@Html.Sitecore().Field("Authorization Request")</p>
    <div class="row">
        <div class="col text-center">
            @Html.Sitecore().Placeholder("Jumbotron Content")
        </div>
    </div>
</div>