@if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
{
    <header id="header" class="header" style="width: 100%; margin-top: 89px;">
        <div class="top-left">
            <div class="navbar-header">
                @Html.Sitecore().DynamicPlaceholder("Logo")
                <a id="menuToggle" class="menutoggle">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </div>
        <div class="top-right">
            <div class="header-menu">
                @Html.Sitecore().DynamicPlaceholder("UserInfo")

            </div>
        </div>
    </header>
}
else
{
    <header id="header" class="header">
        <div class="top-left">
            <div class="navbar-header">
                @Html.Sitecore().DynamicPlaceholder("Logo")
                <a id="menuToggle" class="menutoggle">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </div>
        <div class="top-right">
            <div class="header-menu">

                @Html.Sitecore().DynamicPlaceholder("UserInfo")

            </div>
        </div>
    </header>
}

