@model Sam.ToolStockSc.Web.Areas.Project.ToolStockSc.Models.ViewModels.MenuSectionViewModel
@using Glass.Mapper.Sc.Web.Mvc

<li class="menu-title">@Html.Glass().Editable(m => m.Section)</li>

@if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
{
    <div>
        @Html.Sitecore().DynamicPlaceholder("Menu Link")
    </div>
}
else
{
    @Html.Sitecore().DynamicPlaceholder("Menu Link")
}

